.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("../../data/img/fondo.jpg");
    border-bottom: 3px solid rgb(199, 179, 0);
}

.logo img {
    margin-bottom: -4px;
    height: 150px;
    width: 150px;
    border: 3px solid rgb(199, 179, 0);
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 80px;
}

.menu-link {
    text-decoration: none;
    color: rgb(199, 179, 0);
    background-color: rgb(163, 42, 42);
    padding: 20px;
    border-radius: 75%;
    font-size: 20px;
    transition: .3s;
}

.menu-link:hover {
    background-color: rgb(114, 30, 30);
    color: white;
}

